@charset"UTF-8";



html{
	font-family:san-serif;
}

/*全体*/
li{
  list-style: none;
}
h2{
	font-weight: bold;
}

a {
	text-decoration: none;
}

*{
	max-width: 100%;
	height: auto;
}

/*body全体*/
body {
	background-color: #EEF9FF;
	margin:20px 50px 20px 50px;
	border:3px groove #8798e2;
	border-radius: 10px;
	}

/*全体の親要素ラッパー編集*/
.wrapper{
	margin :50px auto 0 auto;
	max-width:960px;

}

@media(max-width:767px){
	.wrapper{
		margin: 0 8px ;
	}
}



input{
	font-size: 20px
	}


/*ヘッダー*/	
header{
	text-align: center;
	font-size: 30px;
}

header h1{
	padding-top: 50px;
	border-top: 5px dotted rgb(6, 71, 250);
	font-weight: bold;
}


/*ここからメイン*/

/*ボタン要素の大きさ*/

.btn.btn-info.btn-lg.btn-block{
	height: 170px;
	font-size: 50px;
	margin: 50px 0 50px 0;
	border-radius:30px;/*ボーダーの角を丸くする*/
}

/*セレクトボックス要素の大きさ*/
/*今のところなし*/


/*チェックボックス要素の大きさ*/

/*.chkbox {
	margin:			0 0 10px 20px;
}*/

/*チェックボックス要素の大きさ*/
/* ラベルのスタイル　*/
.chkbox label {
	padding-left:		38px;			/* ラベルの位置 */
	font-size:		32px;
	line-height:		32px;
	display:		inline-block;
	cursor:			pointer;
	position:		relative;
}

/*チェックボックス要素の大きさ*/
/* ボックスのスタイル */
.chkbox label:before {
content:		'';
	width:			32px;			/* ボックスの横幅 */
	height:			32px;			/* ボックスの縦幅 */
	display:		inline-block;
	position:		absolute;
	left:			0;
	background-color:	#fff;
	box-shadow:		inset 1px 2px 3px 0px #000;
	border-radius:		6px 6px 6px 6px;
}

/*チェックボックス要素の大きさ*/
/* 元のチェックボックスを表示しない */
.chkbox input[type=checkbox] {
	display:		none;
}

/*チェックボックス要素の大きさ*/
/* チェックした時のスタイル */
.chkbox input[type=checkbox]:checked + label:before {
	content:		'\2713';		/* チェックの文字 */ 
	font-size:		34px;			/* チェックのサイズ */
	color:			#fff;			/* チェックの色 */
	background-color:	#06f;			/* チェックした時の色 */
}

/*チェックボックス要素の大きさ設定終わり*/




/*開始　 セレクトボックスの設定 セレクトボックスの設定　開始*/

.Setting-explanation{
	border-bottom: #06f 1px solid

}

/*終了　 セレクトボックスの設定　Setting-explanation終了*/




/*開始　診療科別　全診療科共通設定ボタン　開始*/

.reflect-all-items{
	padding:0 0  100px 0;
	border-bottom: #06f 1px solid;
}

/*終了　診療科別　全診療科共通設定ボタン　終了*/


/*開始　 入力フォーム　開始*/


.control-label{    /*ラベル*/
	font-size: 50px;
  
}

.form-control{    /*入力するところ*/
	height: 170px;
  font-size: 50px;
  border-radius:30px;/*ボーダーの角を丸くする*/
}



/*開始　 入力フォーム　開始*/





/*開始　休診日設定htmlのcss　終了*/
.holiday-terms{
	font-size:30px;
	width: 150px;
	}

/*終了　休診日設定htmlのcss　終了*/


/*開始　開院時間設定htmlのcss　開始*/
.time-term{
	font-size:30px;
	width: 250px;
	}


/*終了　開院時間設定htmlのcss　終了*/


/*開始　予約数・状況表示設定htmlのcss　開始*/

.number-of-reservations-term{
	font-size:30px;
	width: 250px;

}



/*終了　予約数・状況表示設定htmlのcss　終了*/



/*開始　診療科　削除htmlのcss　開始*/

.delete-item{
	padding: 100px 0;
	border-bottom: #06f 1px solid

}
/*終了　診療科　削除htmlのcss　終了*/


/*開始　新規患者登録　開始*/
/*開始　 入力フォーム　開始*/


l{    /*ラベル*/
	font-size: 10px;
  
}

#new-patient-registration input{    /*入力するところ*/
	height: 10px;
  font-size: 10px;
  border-radius:10px;/*ボーダーの角を丸くする*/
}



/*終了　 入力フォーム　終了*/
/*終了　新規患者登録　終了*/




/*ここからフッター*/
footer{
	text-align: center;
	margin: 200px 0 100px 0;
	}

	/*フッターのボタン要素の大きさ*/
.btn.btn-outline-info{
	height: 60px;
	width: 400px;
	border-style: solid; border-width: thick;/*ボーダーを太くする*/
	font-weight: bold;
}


table{
	display: inline-block;/*tableをインラインブロックにする*/
	border-collapse:separate;/*tdの要素を分割(セパレートする)*/
	border-spacing:40px;/*tableの間隔を空ける*/
}





